<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who Is It?</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/client.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/app.css"> -->

</head>

<body class="clientbody d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>
        <%- include('../partials/flash')%>
            <main class="container-fluid" id="gamecontainer">
                <div class="row mb-3 mb-lg-3 mt-2">
                    <div class="col-12 col-lg-3 p-0" id="cont-gamedetails">
                        <div class="container-fluid">
                            <div class="row mb-3 mb-lg-0">
                                <div class="col-2 col-lg-12 p-0 mb-0 mb-lg-3">
                                    <div class="center-element" id="cont-logo">
                                        <img src="/img/logo.png" alt="">
                                    </div>
                                </div>
                                <div class="col-3 col-lg-12 p-0 mb-0 mb-lg-3">
                                    <div class="portrait lit-portrait center-element" id="cont-player">
                                        <div class="player-portrait-innerbg">
                                            <img src="/img/emptyportrait.jpg" id="img-portrait-player" alt="">
                                        </div>
                                        <span id="player-card-name">Player</span>
                                        <img src="<%= (currentUser && currentUser.image) ? currentUser.image.url : '/img/emptyportrait.jpg' %>"
                                            alt="Display picture" class="dp-small dp-card-offset">
                                    </div>
                                </div>
                                <div class="col-3 col-lg-12 p-0 mb-0 mb-lg-3">
                                    <div class="portrait unlit-portrait center-element" id="cont-opponent">
                                        <div class="player-portrait-innerbg">
                                            <img src="/img/emptyportrait.jpg" id="img-portrait-opponent"
                                                alt="Your Display Picture">
                                        </div>
                                        <span id="opponent-card-name">Opponent</span>
                                        <img src="/img/emptyportrait.jpg" alt="Opponent Display picture"
                                            class="dp-small dp-card-offset">
                                    </div>
                                </div>
                                <div class="col-4 col-lg-12 p-1 mb-0">
                                    <div class="container-fluid h-100">
                                        <div class="row h-100">
                                            <% for (let i=0; i < 24; i++) { %>
                                                <div class="col-2 p-0 " id="template-opponentcard">
                                                    <div class="opponent-board-card" data-value="<%= i %>">
                                                        <div class="board-card-innerbg">
                                                            <img src="/img/emptyportrait.jpg"
                                                                id="opponent-board-card<%= i %>" alt="">
                                                            <img class="xmark d-none" id="opponent-board-xmark<%= i %>"
                                                                src="/img/bg_xmark.svg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9 p-0">
                        <div class="container-fluid h-100">
                            <div class="row h-100 justify-content-center align-items-center">
                                <% for (let i=0; i < 24; i++) { %>
                                    <div class="col-2 p-0" id="template-boardcard">
                                        <div class="board-card" data-value="<%= i %>">
                                            <div class="board-card-innerbg">
                                                <img src="/img/emptyportrait.jpg" id="board-card<%= i %>"
                                                    alt="Board card">
                                                <img class="xmark d-none" id="board-xmark<%= i %>"
                                                    src="/img/bg_xmark.svg" alt="Eliminated">
                                            </div>
                                            <span id="board-card-name<%= i %>" class="card-name-responsive">Name</span>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 mx-md-n1">
                    <div class="col-1 col-lg-1 btn-qstn p-0" id="btn-qstn-back">
                        <button class="button-silly center-element-button" ontouchstart="" id="btn-back">
                            &lt;
                        </button>
                    </div>
                    <div class="col-9 col-lg-9 p-0" id="cur-qstn">
                        <div class="center-element" id="cur-qstn-box">
                            <div class="center-element" id="cur-qstn-text"></div>
                        </div>
                    </div>
                    <div class="col-1 col-lg-1 btn-qstn p-0" id="btn-qstn-forward">
                        <button class="button-silly center-element-button" ontouchstart="" id="btn-next">
                            &gt;
                        </button>
                    </div>
                    <div class="col-1 col-lg-1 btn-qstn p-0" id="cur-action">
                        <button class="button-silly center-element-button" ontouchstart="" id="btn-action" disabled>
                            ?
                        </button>
                    </div>
                </div>
                <div id="cont-options">
                    <button class="button-silly center-element-button" id="btn-options" ontouchstart="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FFF9B2"
                            class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path
                                d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                        </svg>
                    </button>
                </div>
                <div class="d-none" id="cover">
                    <div class="cont-message">
                        <div class="d-none" id="cont-btn-closepop"><button class="button-silly button-popup"
                                id="btn-closepopup" ontouchstart="">
                                x
                            </button></div>
                        <div id="cont-messagecontent" class="">
                            <div class="d-none message" id="lobby">
                                <h3>
                                    Waiting for an opponent!
                                </h3>
                                <p>
                                    The game will begin once an opponent joins.<br>
                                    Friends can join with the code below.
                                </p>
                                <div id="gamecode">
                                    <span id=gamecodetext>
                                        <%=gamecode%>
                                    </span>
                                    <div id="btn-gamecode-copy">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                            <path
                                                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                            <path
                                                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <button class="button-silly button-popup btn-endgame" ontouchstart="">
                                        End Game
                                    </button>
                                </div>
                            </div>
                            <div class="d-none message" id="opponentquestion">
                                <p id="questiontext">
                                    Do they have red hair?
                                </p>
                                <div>
                                    <button class="button-silly button-popup btn-response mr-3" id="btn-response-yes"
                                        ontouchstart="">
                                        &check;
                                    </button>
                                    <button class="button-silly button-popup btn-response" id="btn-response-no"
                                        ontouchstart="">
                                        &#x2717;
                                    </button>
                                </div>
                            </div>
                            <div class="d-none message" id="playerprompt">
                                <h3>
                                    Its your turn!
                                </h3>
                                <p>
                                    Do you want to ask a question or make a guess?
                                </p>
                                <div>
                                    <button class="button-silly button-popup mr-2" id="btn-question" ontouchstart="">
                                        Question
                                    </button>
                                    <button class="button-silly button-popup" id="btn-guess" ontouchstart="">
                                        Guess
                                    </button>
                                </div>
                            </div>
                            <div class="d-none message" id="playerquestion">
                                <p>
                                    Please enter your question.
                                </p>
                                <p>
                                    <input class="text-center" type="text" id="input-playerquestion"
                                        placeholder="Do they have red hair?" required>
                                </p>
                                <div>
                                    <button class="button-silly button-popup" ontouchstart="" id="btn-send">
                                        Send
                                    </button>
                                </div>
                            </div>
                            <div class="d-none message" id="playerquestionlist">
                                <table id="playerquestionlist-text">

                                </table>
                            </div>
                            <div class="d-none message" id="gameover">
                                <h3 id="endheader">
                                    You win!
                                </h3>
                                <p id="endmessage">
                                    You guessed your opponent's card.
                                </p>
                                <div>
                                    <button class="button-silly button-popup btn-endgame" ontouchstart="">
                                        End Game
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="footer  mt-auto">
                <div class="container">

                </div>
            </footer>

            <script src='/js/jquery-3.6.0.min.js'></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
            <script src="/js/axios.min.js"></script>

            <script src="/js/client.js"></script>

            <script type="text/javascript">
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>
</body>

</html>