<% layout('layouts/boilerplate')%>
    <div class="container">
        <div class="row">
            <% for(const game of games){ %>
                <div class="col-12 my-3">
                    <div class="inline-pane">
                        <form action="/play/adminEndGame/<%=game.joinid%>" method="POST">
                            <p>
                                <label for="">Join ID</label>
                                <input type="text" name="joinid" disabled value="<%= game.joinid %>">
                            </p>
                            <p>
                                <label for="">Private</label>
                                <input type="text" disabled value="<%= game.private %>">
                            </p>
                            <p>
                                <label for="">Players</label>
                                <input type="text" disabled value="<%= game.players.length %> / 2">
                            </p>
                            <p>
                                <label for="">Player 1 ID</label>
                                <input type="text" disabled value="<%= game.players[0].playerid %>">
                            </p>
                            <% if(game.players.length> 1){ %>
                                <p>
                                    <label for="">Player 2 ID</label>
                                    <input type="text" disabled value="<%= game.players[1].playerid %>">
                                </p>
                                <% } %>
                                    <button type="submit" class="button-silly button-popup">End Game</button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>
    </div>