<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-6 offset-3">
            <!-- <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"> -->
            <div class="" role="alert">
                <h4 class="">
                    <%=err.message%>
                </h4>
                <p>
                    <%= err.stack %>
                </p>
            </div>
        </div>
    </div>