<% layout('layouts/boilerplate')%>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" id="logo" src="/img/logo.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <span class="carousel-text">Play with friends and strangers!</span>
                            <img class="d-block w-100" src="/img/screenshots/board.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <span class="carousel-text">Deduce your opponent's character!</span>
                            <img class="d-block w-100" src="/img/screenshots/question.png" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <span class="carousel-text">Create and share your own game boards!</span>
                            <img class="d-block w-100" src="/img/screenshots/alienboard.png" alt="Fourth slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 my-3">
                <div class="inline-pane">
                    <form action="/play/newgame" method="POST">
                        <label for="">Start a new game?</label>
                        <span class="d-block">
                            <div class="form-check">
                                <input type="checkbox" name="private" class="form-check-input" value="true"
                                    id="privateCheckbox" checked>
                                <label class="form-check-label" for="privateCheckbox" data-toggle="tooltip"
                                    data-placement="top" title="Require game code to join the game?">
                                    Private
                                </label>
                            </div>
                        </span>
                        <p class="mt-2">
                            <button type="submit" class="button-silly button-popup">New Game</button>
                        </p>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-6 my-3">
                <div class="inline-pane">
                    <form action="/play/joingame" method="GET" id="joinform" class="mb-4">
                        <label for="joincode" class="d-block">Join a friend's game?</label>
                        <input type="text" name="joincode" id="joincode" class="mb-2 text-center">
                        <p>
                            <button type="submit" class="button-silly button-popup mb-2">Join Game</button>
                        </p>
                    </form>
                    <form action="/play/findgame" method="GET" class="mb-2">
                        <label class="d-block">Join a random game?</label>
                        <p>
                            <button type="submit" class="button-silly button-popup mb-2">Random Game</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>