/* main {
    max-width: 800px;
    border: 1px solid gray;
} */

html,body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

#gamecontainer {
    /* max-height: 582px; */
    min-height: 100%;
}

#leftcol {
    /* max-height: none; */
}

#rightcol {
    max-height: 582px;
}

#sidecontainer {
    box-sizing: content-box;
    height: 100%;   
    /* max-height: 582px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#turnlog {
    overflow: auto;
    /* width: 300px; */
    border: solid 1px #EEE;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    /* height: 80%; */
}

.chatbubble {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.playermsg {
    align-items: flex-end;
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    position: relative;
}
.playermsg.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
}
.playermsg.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
}

.opponentmsg {
    align-items: flex-start;
    margin-right: 25%;
    background-color: #eee;
    position: relative;
}

.opponentmsg.last:before{
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
}

.opponentmsg.last:after{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
}

.charactertile {
    filter: none;
    opacity: 1;
    transition: all 0.5s;
    max-width: 120px;
}

.charactertile.hidden {
    filter: grayscale(90%);
    opacity: 0.5;
    transition: all 0.5s;
}

.charactertile:hover {
    cursor: pointer;
    filter: none;
    opacity: 1;
    transition: all 0.5s;
}
/* .charactertile.hidden:hover {
    opacity: 1;
    filter: none;
    transition: all 0.5s;
} */

#gamecode {
    border: 1px solid darkgray;
    background-color: lightgray;
    color: darkgray;
    font-weight: 600;
    font-size: xx-large;
    padding: 5px;
    display: inline-block;
}

button.disabled {
    background-color: darkgray !important;
    color: white !important;
    border-color: gray !important;
}

@media (max-width: 540px) {
    #leftcol {
        /* max-height: none; */
    }
    #rightcol {
        max-height: 300px;
    }
}