/* debugging */
body {
    background-color: #97316b;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 2px 2px #3F0713;
    color: #FFF9B2; 
}

.text-muted {
    color: #ECAC5D !important; 
}

.bg-dark {
    background-color: #3f071331 !important;
    transition: background-color 0.5s, color 0.5s;
}
.bg-dark:hover {
    background-color: #3F0713 !important;
    transition: background-color 0.5s, color 0.5s;
}

#navbar .nav-item {
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.473));
    z-index: 20;
}

.dropdown-menu {
    background-color: #702535;
}

.dropdown-item, .nav-item, .dropdown-item a, .nav-item a,.btn-link {
    color: #ECAC5D !important;
    border-color: #ECAC5D; 
    -webkit-appearance: none;
}

.dropdown-item:hover, .nav-item:hover, .dropdown-item a:hover, .nav-item a:hover,.btn-link:hover  {
    color: #FFF9B2 !important; 
    border-color: #FFF9B2;
}

.dropdown-item:hover {
    background-color: #ECAC5D;
    color: #FFF9B2; 
}

.dropdown-divider {
    border-color: #3F0713;
}

.alert {
    opacity: 90%;
    z-index: 30;
    max-width: 400px;
    position: fixed;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.473));
}

.alert-success, .alert-danger {
    text-shadow: none;
}

body.clientbody {    
    text-shadow: 2px 2px #3F0713;
    /* color: #d1d0c6;  */
    /* background-color: #9c3570; */

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



#gamecontainer {
    max-width: 980px !important;   
    background-color: #B24080;
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.473));
    padding-top: 56px;
}

#maincontainer {
    max-width: 980px !important;   
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.473));
    padding-top: 56px;
}
 
/* div { 
    border: 1px solid rgb(255, 238, 0); 
} */
/*
div div {
    border: 1px solid rgb(0, 168, 36);
}

div div div {
    border: 1px solid rgb(221, 0, 0);
}

div div div div {
    border: 1px solid rgb(47, 0, 255);
} */

#cont-messagecontent {
    padding: 8px 8px;
}

.portrait {
    display: block;
    margin: 0 auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.473));

    width: 90%;
    max-width: 130px;
    
    padding-top: 10px;
    padding-bottom: 15px;

    text-align: center;
}

.lit-portrait {    
    background-image: url("/img/bg_portrait.svg");   
    color: #FFF9B2; 
    transition: background-image 0.5s, color 0.5s, filter 0.5s;
    filter: drop-shadow(0 0 0.45rem #fff9b2ea);
}

.unlit-portrait {
    background-image: url("/img/bg_portrait_opponent.svg");
    color: #ECAC5D;
    transition: background-image 0.5s, color 0.5s, filter 0.5s;
}

.player-portrait-innerbg {
    display: block;
    margin: 0 auto;
    background-image: url("/img/bg_portrait_inner.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #FFF9B2;
    width: 90%;
    height: 95%;
    max-width: 110px;
    max-height: 110px;
    margin-bottom: 0.2em;
}
.player-portrait-innerbg img {
    margin-top: 2.5%;
    width: 95%;
    height: 95%;
    max-width: 100px;
    max-height: 100px;
    border: 3px solid #FFF9B2;
}



.board-card {
    display: block;
    margin: 0 auto;
    /* background-image: url("/img/bg_portrait.svg"); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #FFF9B2;
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.473));

    width: 100%;
    height: auto;
    /* max-width: 120px;
    max-height: 150px; */
    cursor: pointer;
    text-align: center;
}

.opponent-board-card {
    display: block;
    margin: 0 auto;
    /* background-image: url("/img/bg_portrait.svg"); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #FFF9B2;
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.473));

    width: 100%;
    height: auto;
    /* max-width: 120px;
    max-height: 150px; */
    

    text-align: center;
}

.board-card-innerbg {
    display: block;
    margin: 0 auto;
    background-image: url("/img/bg_portrait_inner.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #FFF9B2;
    max-width: 90%;
    /* max-height: 95px; */
    margin-bottom: 0.2em;
}
.board-card-innerbg img {
    margin-top: 2.5%;
    max-width: 95%;
    max-height: 95%;
    border: 2px solid #FFF9B2;
}

.board-card-selectmode:hover {
    border: 4px solid #e61829;
    cursor: pointer;
}


img.xmark {
    border-color: transparent !important;
    width: 80%;
    /* height: 70%;     */
    transform: translate(-50%,0);
    position: absolute;
    top: 0;
    left: 50%;
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.473));

}

/* column holding the bottom controls */
#cont-controls .container .row {
    min-height: 2em;
    text-align: center;
}




.center-element {
    display: inline-block;
    /* width: 48px;
    height: 48px; */
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}




button.button-silly {
    padding: 0;
    /* width: 100%;
    height: auto; */

    /* background-image: url("/img/bg_button.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent; */

    background-color: #ECAC5D;
    border-radius: 6px;
    width: 95%;
    
    filter: drop-shadow(0 8px 0 #3F0713);

    color: #FFF9B2;
    text-shadow: 2px 2px #3F0713;
    border: none;
    font-size: calc(100% + 1vw + 1vh);
    text-align: center;
    transition: height 0.2s, background-color 0.2s, transform 0.2s, filter 0.2s;
}

button.button-silly:active {
    color: #ECAC5D;
    background-color: #9c3570;
    height: calc(100% - 2px);

    filter: drop-shadow(0 +4px 0 #3F0713);
    transition: height 0.06s, background-color 0.06s, transform 0.06s, filter 0.06s;

}

button.button-silly:disabled {
    color: #c59457;
    background-color: #7e3e62;
    height: calc(100% - 2px);
    filter: drop-shadow(0 +4px 0 #41282e);
    transition: height 0.06s, background-color 0.06s, transform 0.06s, filter 0.06s;
}

button.button-popup {
    display: inline;
    text-align: center;
    min-width: 48px;
    min-height: 48px;
    width: auto;
    padding: 0px 10px;
    /* width: 48px;
    height: 48px; */
}

button.center-element-button {
    display: inline-block;
    /* width: 48px;
    height: 48px; */
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) translate(0px, -6px);
}

button.center-element-button:active {
    display: inline-block;
    /* width: 48px;
    height: 48px; */
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) translate(0px, -2px);
}

button.center-element-button:disabled {
    display: inline-block;
    /* width: 48px;
    height: 48px; */
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) translate(0px, -2px);
}

button:focus {outline:0;}

#cur-qstn-box {
    padding: 8px 0px;
    height: 100%;
    width: 95%;
    box-sizing: border-box;
    border: 4px solid #ECAC5D;
    border-radius: 5px;
    background-color: #9c3570;
    color: #FFF9B2;
    font-size: 1em;
    cursor: pointer;
}

#cur-qstn-text {
    text-align: center;
    /* min-height: 48px; */
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 5px;
  }

.question-list-item {
    width: 60%;
    /* display: inline; */
    box-sizing: border-box;
    border: 4px solid #ECAC5D;
    border-radius: 5px;
    background-color: #9c3570;
    color: #FFF9B2;

}

.question-list-item-answer {
    width: 20%;
    /* display: inline; */
    box-sizing: border-box;
    border: 4px solid #ECAC5D;
    border-radius: 5px;
    background-color: #802a5b;
    color: #FFF9B2;

}

#cover {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display: block;
}

.cont-message {
    z-index: 10;
    display: inline-block;
    /* align-items: center; */
    text-align: center;
    padding: 20px 5px;

    background-image: url("/img/bg_message.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    color: #FFF9B2;
    filter: drop-shadow(0 0 0.25rem black);

    width: 75%;
    min-width: 120px;
    max-width: 432px;
    /* max-width: 60%; */
    /* height: 120px; */

    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -80%);
}

.inline-pane {
    z-index: 10;
    display: inline-block;
    /* align-items: center; */
    text-align: center;
    padding: 20px 5px;

    background-image: url("/img/bg_themecard.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    color: #FFF9B2;
    filter: drop-shadow(0 0 0.25rem #3f0713b4);

    width: 90%;
    
    /* max-width: 60%; */
    /* height: 120px; */

    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.theme-card {
    display: inline-block;
    /* align-items: center; */
    /* text-align: center; */
    padding: 20px 20px;

    background-image: url("/img/bg_themecard.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    color: #FFF9B2;
    filter: drop-shadow(0 0 0.25rem black);

    width: 90%;
    
    /* max-width: 60%; */
    /* height: 120px; */

    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


#cont-message button {
    margin: 0px 10px;
}

button.btn-boardrating {
    border: 0;
    background-color: transparent;
    text-shadow: 2px 2px #3F0713;
}

#cont-btn-closepop {
    position: absolute;
    top: -16px;
    right: -20px;    
}

#btn-closepopup {
    border-radius: 50%;
    font-size: 1em;
    min-width: 32px;
    min-height: 32px;
}

textarea[type=text], input[type=text],input[type=email],input[type=password] {
    /* width: 75%; */
    padding: 0.5em 1em;
    color: #FFF9B2; 
    
    background-color: #3F0713;
    border: 4px solid #FFF9B2;
    border-radius: 5px;
    /* font-family: Verdana; */
}

input[name="username"], input[name="email"], input[name="password"], input[name="newpassword"], input[name="confirmpassword"] {
    font-family: Verdana !important;
}

input[type=button] {
    -webkit-appearance: none;
}

select {
    height: 48px;
    
    padding: 0.5em 1em;
    color: #FFF9B2; 
    
    background-color: #3F0713;
    border: 4px solid #FFF9B2;
    border-radius: 5px;
    cursor: pointer;
}
label[for="sort-label"] {
    position: relative;
    left: 61px;
    top: -23px;
    margin-left: -61px;
}
label[for="search-label"] {
    position: relative;
    left: 120px;
    top: -23px;
    margin-left: -120px;
}

button#search-button {
    position: relative;
    left: -20px;
    margin-left: -20px;
    width: 24px;
    height: 24px;
    padding: 0px;

    border-radius: 50%;
    border-width: 0px;
    color: inherit;
    background-color: #702535;
}
button#search-button:hover {
    background-color: #9c3570;
}

input:disabled {
    color: rgb(68, 68, 68);
}

.form-file-label {
    text-shadow: none !important;
    filter: none !important;
    color: gray !important;
}

input[type=checkbox] {
    background-color: #3F0713 !important;
    border: 4px solid #FFF9B2 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFF9B2;
    opacity: 0.6; /* Firefox */
  }

input:focus {outline:0;}

#cont-logo {
    width: 98%;
    text-align: center;
}

#cont-logo img {
    width: 100%;
}

#logo {
    width: 48px;
}
#logo-large {
    max-width: 400px;
}

/* boucning effect */
@-webkit-keyframes bounce {
    0% {
        transform: scale(1,1) translate(-50%, -50%) translate( +0px, -8px);
    }

    30%{
        transform: scale(1,0.8) translate(-50%, -50%) translate( +0px, -8px); 
    }

    75%{
        transform: scale(1,1.1) translate(-50%, -70%) translate( +0px, -8px); 
    }

    100% {
        transform: scale(1,1) translate(-50%, -50%) translate( +0px, -8px);
    }
}

.center-bounce {
  text-align:center;
  position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    animation: bounce 0.75s infinite;
     -webkit-animation: bounce 0.75s infinite;
}

.center-bounce:active {
    display: inline-block;
    /* width: 48px;
    height: 48px; */
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) translate(0px, -4px);
    animation: none;
       -webkit-animation: none;
}

#gamecode {
    padding: 8px 8px;
    display: inline;
    border: 4px solid #ECAC5D;
    border-radius: 5px;
    background-color: #3F0713;
    color: #ECAC5D; 
    font-size: 1.5em;
    -webkit-touch-callout: text !important; /* iOS Safari */
    -webkit-user-select: text !important; /* Safari */
     -khtml-user-select: text !important; /* Konqueror HTML */
       -moz-user-select: text !important; /* Old versions of Firefox */
        -ms-user-select: text !important; /* Internet Explorer/Edge */
            user-select: text !important; /* Non-prefixed version, currently */
}

#btn-gamecode-copy {
    width: 0px;
    color: #ECAC5D; 
    display: inline-block;
    position: relative;
    right: -20px;
    filter: drop-shadow(2px 2px 0 #3F0713);
    cursor: pointer;
}

#btn-gamecode-copy:hover {
    color: #FFF9B2; 
}
#btn-gamecode-copy:active {
    color: #ECAC5D; 
}

#cont-options {
    display: inline-block;
    position: fixed;
    top: 55px;
    right: 10px;
    width: 48px;
    height: 48px;
    font-size: 1em;
    opacity: 40%;
    transition: background-image 0.5s, color 0.5s, filter 0.5s, opacity 0.5s;
}

#cont-options:hover {
    opacity: 100%;
    transition: background-image 0.5s, color 0.5s, filter 0.5s, opacity 0.5s;
}

.active-page {
    border-bottom: 3px solid;
}

#navbar-username {
    display: none;
}

.main-nav-link svg,.hide-on-sm {
    display: none;
}

.card-name-responsive {
    font-size: 0.65rem;
    display: inline-block;
    text-align: center;
}

@media (min-width: 576px) { 
    #navbar-username {
        display: inline;
    }
    .main-nav-link svg {
        display: inline;
    }
    .hide-on-sm {
        display: inline;
    }
    .card-name-responsive {
        font-size: inherit;
    }
    /* #cont-options {
        top: calc(25% - 24px);
        left: 5px;
    } */

 }

.card-controls {
    margin-top: 4px;
}

.card-darker {
    opacity: 80%;
}

span.card-likes {
     border-radius: 10px;
     background-color: #3F0713;
     padding: 2px 10px;
     text-align: center;
     margin: 0px 5px;
 }

span.btn-fav {
     position: absolute;
     top: 8px;
     right: 8px;
 }

.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background:url(/img/emptyportrait.jpg);
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}

.likecounter,.commentcounter,.likecounter form,.playbutton,.playbutton form {
    display: inline;
}

.carousel .carousel-inner .carousel-item img {
    max-height: 250px;
    min-height: 250px;
    object-fit: contain;
    background-color: #802759;
    filter: brightness(0.8);
    transition: filter 0.2s, color 0.2s;
}

.carousel .carousel-inner .carousel-item img#logo {
    filter: none;
}

.carousel .carousel-inner .carousel-item img:hover {
    filter: none;
    transition: filter 0.2s, color 0.2s;
}

.carousel-text {
    z-index: 15;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
}

button.btn-link, a.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    text-shadow: 2px 2px #3F0713;
}
button.btn-link:hover, a.btn-link:hover, .dropdown a svg:hover, .nav-item a:hover
    ,.likecounter:hover,.likecounter form button:hover,.commentcounter:hover,.playbutton:hover,.playbutton form button:hover {
    text-decoration: none;
}

button.btn-link svg, .dropdown-item svg, .card-header svg, .dropdown a svg {
    filter: drop-shadow(2px 2px #3F0713);
}

.index-image-preview, .index-more-button {
    border: 1px solid;
    background-color: rgb(196, 196, 196);
    background-image: url("/img/emptyportrait.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    text-align: center;
    padding: 0px;
}

.index-image-preview img {
    width: 100%;
    height: auto;
}

.previewImage {
    opacity: 75%;
}

.login-card {
    max-width: 360px;
}

.card {
    /* background-color: #9c3570; */
    background-color: #B24080;
}

.nav-tabs {
    background-color: #802759;
    border: none;
}

li.nav-item a {
    border: none !important;
}

li.nav-item a.active {
    background-color: #9c3570 !important;
    border-color: #3F0713 !important;
}

.li.nav-item a:hover {
    border-color: #3F0713 !important;
}

.card .list-group .list-group-item {
    background-color: #a33975;
}

.board-card-show:hover {
    cursor: pointer;
    border-color: #3F0713;
}


.dp-large {
    display: inline;
    border-radius: 50%;
    border: 1px solid #3F0713;
    width: 100px;
    height: 100px;
}
.dp-small {
    display: inline;
    border-radius: 50%;
    border: 1px solid #3F0713;
    width: 24px;
    height: 24px;
}

.dp-card-offset {
    position: absolute;
    top: 0px;
    left: 0px;
}