<% layout('layouts/boilerplate')%>
    <div class="row border" id="gamecontainer">
        <div class="col-12 col-md-8 order-1 order-md-1 overflow-hidden" id="leftcol">
            <div class="container" id="gamescreen">
                <div class="row">
                    <div class="col-10">
                        <h2 id="turnstatus"></h2>
                        <p id="turninstructions"></p>
                    </div>
                    <div class="col-2">
                        <div id="playercard" class="charactertile card" data-value="">
                            <img class="card-img-top" src="/img/Aliens/albert.png" alt="">
                        </div>
                    </div>
                </div>
                <h4>Click a character to eliminate them!</h4>
                <div class="row">
                    <% for(let character of theme.characters){ %>
                        <div class="charactertile col-3 col-md-2 card" data-value="<%=character.name%>">
                            <img class="card-img-top" src="<%=character.image%>" alt="<%=character.name%>">
                        </div>
                        <% } %>
                </div>
            </div>
            <div class="container d-none" id="endscreen">
                <div>
                    <h2 id="endheader"></h2>
                    <p id="endmessage"></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 order-2 order-md-2 p-0" id="rightcol">
            <div id="sidecontainer">
                <div id="turnlog" class="">

                </div>
                <div id="responsebuttons" class="responsebuttons btn-group d-none" data-toggle="buttons">
                    <button type="submit" name="responseyes" id="responseyes"
                        class="response btn btn-success w-100">Yes</button>
                    <button type="submit" name="responseno" id="responseno"
                        class="response btn btn-danger w-100">No</button>
                </div>
                <div id="questionbuttons" class="questionbuttons d-none">
                    <div class="input-group">
                        <input type="text" id="inputQuestion" class="form-control" placeholder="Are they smiling?"
                            aria-label="Are they smiling?" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button type="submit" id="btnQuestion" class="input-group-text choice btn btn-primary"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
                                </svg></button>
                        </div>
                    </div>
                </div>
                <div id="endbuttons" class="endbuttons btn-group d-flex" data-toggle="buttons">
                    <button id="btnGuess" class="btn btn-primary w-100">Guess
                        Who</button>
                    <button id="btnEndgame" class="btn btn-danger w-100">End Game</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/axios.min.js"></script>
    <script src="/js/client.js" async defer></script>