<% layout('layouts/boilerplate')%>
    <div class="container">
        <div class="row">
            <div class="col-6">
                The game will start after your opponent joins.
                A friend can join with this code:
                <div id="gamecode">
                    <%= gamecode %>
                </div>
                <form action="/play/endGame" method="GET">
                    <button type="submit" class="btn btn-danger">End Game</button>
                </form>
            </div>
        </div>
    </div>
    <section class="container">
        <h2>Please choose your character.</h2>
        <div class="row">
            <% for(let character of theme.characters){ %>
                <div
                    class="charactertile col-3 col-md-2 card <%= (player.card==character.name ? 'selected' : 'hidden') %>">
                    <form action="/play/lobby/<%=character.name%>" method="POST">
                        <button type="submit">
                            <img class="card-img-top" src="<%=character.image%>" alt="<%=character.name%>">
                        </button>
                    </form>
                </div>
                <% } %>
        </div>
    </section>

    <script src="/js/axios.min.js"></script>
    <script src="/js/lobby.js" async defer></script>