<% layout('layouts/boilerplate')%>
    <div class="container p-0 p-sm-3">
        <h1>
            Admin Center
        </h1>
        <% for (let board of boards){ %>
            <div class="col-12 col-md-12 board-display p-0" id="<%=board._id%>">
                <div class="card mb-3 board-card-show">
                    <div class="card-header">
                        <span class="mr-2">
                            <img src="<%= (board.author.image) ? board.author.image.url : '/img/emptyportrait.jpg' %>"
                                alt="Display picture" class="dp-small">
                        </span>
                        <span>Submitted by <%= board.author.username%>
                                <span class="text-muted ml-2">
                                    <%= board.timeSinceCreation %> ago
                                </span>
                        </span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-0">
                            <%= board.title%>
                        </h5>
                        <p class="card-text">
                            <%= board.description%>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Published: <span class="text-muted">
                                <%=(board.published==true) ? "Yes" : "No" ;%>
                            </span>
                        </li>
                        <li class="list-group-item text-muted">
                            <div class="container-fluid">
                                <div class="row">
                                    <% for(let i=0;i<Math.min(Math.max(board.images.length, 0), 4);i++){ %>
                                        <div class="col-3 col-sm-3 index-image-preview">
                                            <img src="<%=board.images[i].url %>" class="" alt="">
                                        </div>
                                        <% } %>
                                            <!-- <div class="col-2 form-group index-more-button">
                                                    <a href="/boards/<%=board._id%>" class="btn-link">More...</a>
                                                </div> -->
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-footer">
                        <div class="likecounter mr-2">
                            <form action="/boards/<%=board._id%>/unflag?_method=PATCH" method="POST">
                                <button class="btn-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-flag mr-1" viewBox="0 0 16 16">
                                        <path
                                            d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z" />
                                    </svg>Unflag</button>
                            </form>
                        </div>
                        <div class="likecounter mr-2">
                            <form action="/admin/ban/<%=board.author._id%>?_method=PATCH" method="POST">
                                <button class="btn-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-x-octagon mr-1" viewBox="0 0 16 16">
                                        <path
                                            d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                                        <path
                                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                    </svg>Ban author</button>
                            </form>
                        </div>
                        <div class="likecounter mr-2">
                            <form action="/boards/<%=board._id%>?_method=DELETE" method="POST">
                                <button class="btn-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-trash-fill mr-2" viewBox="0 0 16 16">
                                        <path
                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                    </svg>Delete</button>
                            </form>
                        </div>

                        <div class="float-right dropdown d-inline" id="dropdownmenu">
                            <a class="btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-three-dots" viewBox="0 0 16 16">
                                    <path
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/boards/<%=board._id%>/edit"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil mr-2" viewBox="0 0 16 16">
                                        <path
                                            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                    </svg>Edit</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <% } %>
                <% for(let comment of comments) { %>
                    <div class="card mb-3 ">
                        <div class="card-header">
                            <span class="mr-2">
                                <img src="<%= (comment.author.image) ? comment.author.image.url : '/img/emptyportrait.jpg' %>"
                                    alt="Display picture" class="dp-small">
                            </span>
                            <span>
                                <%= comment.author.username%>
                                    <span class="text-muted ml-2">
                                        <%= comment.timeSinceCreation %> ago
                                    </span>
                            </span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <%= comment.body %>
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="likecounter mr-2">
                                <form
                                    action="/boards/<%=comment.parent%>/comments/<%=comment._id%>/unflag?_method=PATCH"
                                    method="POST">
                                    <button class="btn-link"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" class="bi bi-flag mr-1" viewBox="0 0 16 16">
                                            <path
                                                d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z" />
                                        </svg>Unflag</button>
                                </form>
                            </div>
                            <div class="likecounter mr-2">
                                <form action="/admin/ban/<%=comment.author._id%>?_method=PATCH" method="POST">
                                    <button class="btn-link"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" class="bi bi-x-octagon mr-1"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                                            <path
                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                        </svg>Ban author</button>
                                </form>
                            </div>
                            <div class="likecounter mr-2">
                                <form action="/boards/<%=comment.parent%>/comments/<%=comment._id%>?_method=DELETE"
                                    method="POST">
                                    <button class="btn-link"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" class="bi bi-trash-fill mr-2"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                        </svg>Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } %>
    </div>
    <script>
        const boardElems = document.querySelectorAll(".board-display");
        for (let boardElem of boardElems) {
            boardElem.addEventListener("click", (e) => {
                if (!$(e.target).is('a') && !$(e.target).is('button') && !$(e.target).is('svg')) {
                    location.href = `/boards/${boardElem.id}`;
                }
            });
        }
    </script>