<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">
                <%= (board.new==true) ? "Create" : "Edit" %> Board
            </h1>
            <div class="card">
                <% if(board.new==true) { %>
                    <form action="/boards" method="POST" class="" enctype="multipart/form-data">
                        <% } else { %>
                            <form action="/boards/<%=board._id%>?_method=PUT" method="POST" class=""
                                enctype="multipart/form-data">
                                <% } %>
                                    <div class="card-header">
                                        <div class="mb-3">
                                            <label class="form-label" for="title">Title</label>
                                            <input class="form-control" type="text" id="title" name="board[title]"
                                                value="<%=board.title %>" required>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <label class="form-label" for="description">Description</label>
                                            <textarea class="form-control" type="text" id="description"
                                                name="board[description]"><%= board.description%></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-file custom-file">
                                                <input type="file" class="form-file-input" id="image" name="image"
                                                    multiple>
                                                <label class="form-file-label" for="image">
                                                    <span class="form-file-text custom-file-label">Add more
                                                        image(s)...</span>
                                                    <span class="form-file-button">Browse</span>
                                                </label>
                                                <input type="text" class='d-none' value="" name="filesLength"
                                                    id="filesLength">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-radio custom-control-inline"
                                                data-toggle="tooltip" data-placement="top"
                                                title="Draft boards are only visible to you.">
                                                <input type="radio" id="draftRadio" name="board[published]"
                                                    value="false" class="custom-control-input"
                                                    <%=(board.published==false) ? "checked" : "" ;%>
                                                required>
                                                <label class="custom-control-label" for="draftRadio">Draft</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline"
                                                data-toggle="tooltip" data-placement="top"
                                                title="Published boards are visisble to everyone. You can only publish if your board has 24 images.">
                                                <input type="radio" id="publishedRadio" name="board[published]"
                                                    value="true" class="custom-control-input" <%=(board.published==true)
                                                    ? "checked" : "" ;%>>
                                                <label class="custom-control-label"
                                                    for="publishedRadio">Published</label>
                                            </div>
                                        </div>
                                        <h3>
                                            <span id="imageCounter">
                                                <%=board.images.length %>
                                            </span> of 24 Images
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="container-fluid mb-3">
                                            <div class="row" id="imageCardContainer">
                                                <div class="col-2 form-group d-none imageCardTemplate">
                                                    <img src="" class="img-thumbnail" alt="">
                                                    <input type="tel" name="" value="" id="" class="form-control">
                                                </div>
                                                <% board.images.forEach(function(img, i) { %>
                                                    <div class="col-2 form-group imageCard">
                                                        <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                                                        <input type="tel" name="nameImages[]" value="<%=img.name%>"
                                                            id="" class="form-control" required>
                                                        <div class="form-check-inline">
                                                            <input type="checkbox" id="image-<%=i%>"
                                                                name="deleteImages[]" value="<%=img.filename%>">
                                                        </div>
                                                        <label for="image-<%=i%>">Delete?</label>
                                                    </div>

                                                    <% })%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="mb-3">
                                            <button class="button-silly button-popup">
                                                <%= (board.new==true) ? "Create" : "Save" %> Board
                                            </button>
                                        </div>
                                    </div>
                            </form>
                            <% if(board.new==false) { %>
                                <a href="/boards/<%= board._id%>">Back To Board</a>
                                <% } %>
            </div>
        </div>
    </div>
    <script>
        const imgCounter = document.querySelector("#imageCounter");
        const imgCards = document.querySelectorAll(".imageCard");
        const imgFiles = document.querySelector("#image");
        const filesLength = document.querySelector("#filesLength")
        const draftRadio = document.querySelector("#draftRadio");
        const publishedRadio = document.querySelector("#publishedRadio");


        const imageCardContainer = document.querySelector("#imageCardContainer");
        const imageCardTemplate = document.querySelector(".imageCardTemplate");

        function changeCounterColor() {
            imgCounter.innerText = imgFiles.files.length + imgCards.length;
            filesLength.value = imgFiles.files.length + imgCards.length;
            if (imgFiles.files.length + imgCards.length == 24) {
                imgCounter.style.color = "green";
                publishedRadio.disabled = false;
            } else {
                imgCounter.style.color = "red";
                publishedRadio.disabled = true;
            }

            const previewImages = document.querySelectorAll(".previewImage");
            for (const prevImg of previewImages) {
                prevImg.parentElement.removeChild(prevImg);
            }

            for (const file of imgFiles.files) {
                const newImageCard = imageCardTemplate.cloneNode(true);
                newImageCard.classList.add("previewImage")
                newImageCard.querySelector("img").src = URL.createObjectURL(file);
                newImageCard.querySelector("input").value = file.name.replace(/\.[^/.]+$/, "");
                newImageCard.querySelector("input").name = "nameImages[]";
                newImageCard.querySelector("input").required = true;
                newImageCard.classList.remove("d-none");
                imageCardContainer.append(newImageCard);
            }
        }
        imgFiles.addEventListener("change", e => {
            changeCounterColor();
        });
        changeCounterColor();
    </script>