<% layout('layouts/boilerplate')%>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-12">
                <form action="/users/account?_method=PUT" method="POST" class="" enctype="multipart/form-data">
                    <div class="card shadow mb-3">
                        <div class="card-header">
                            <h5 class="card-title">Account Settings</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name=""
                                    value="<%=currentUser.username%>" disabled>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email"
                                    value="<%=currentUser.email%>" required>
                                <% if(!currentUser.emailVerified) { %>
                                    <a href="/users/verify">Re-send verification link</a>
                                    <% }else{ %>
                                        Your email is verified!
                                        <% } %>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="mb-4">
                                    <label class="form-label" for="password">Current Password</label>
                                    <input class="form-control" type="password" id="password" name="password">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="newpassword">New Password</label>
                                    <input class="form-control" type="password" id="newpassword" name="newpassword">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="confirmpassword">Confirm Password</label>
                                    <input class="form-control" type="password" id="confirmpassword"
                                        name="confirmpassword">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="text-center mb-2">
                                    <!-- <img src="/img/emptyportrait.jpg" alt="Display picture" class="dp-large"> -->
                                    <img src="<%= (currentUser.image) ? currentUser.image.url : '/img/emptyportrait.jpg' %>"
                                        alt="Display picture" class="dp-large">
                                </div>
                                <div class="form-file custom-file mb-3">
                                    <input type="file" class="form-file-input" id="image" name="image">
                                    <label class="form-file-label" for="image">
                                        <span class="form-file-text custom-file-label">Upload display picture...</span>
                                        <span class="form-file-button">Browse</span>
                                    </label>
                                    <input type="text" class='d-none' value="" name="filesLength" id="filesLength">
                                </div>
                            </li>
                        </ul>
                        <div class="card-footer text-center">
                            <button type="submit" class="button-silly button-popup mb-2">Save</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    </div>