<% layout('layouts/boilerplate')%>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-12">
                <div class="card shadow login-card">
                    <div class="card-header p-0">
                        <ul class="nav nav-tabs" id="tabs">
                            <li class="nav-item" id="tab-login">
                                <a href="#login" class="nav-link active">Login</a>
                            </li>
                            <li class="nav-item" id="tab-register">
                                <a href="#register" class="nav-link">Register</a>
                            </li>
                            <li class="nav-item" id="tab-forgot">
                                <a href="#forgot" class="nav-link">Forgot Password</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body" id="body-login">
                        <form action="/users/login" method="POST" class="">
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus
                                    required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="button-silly button-popup mb-2">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-body d-none" id="body-register">
                        <form action="/users/register" method="POST" class="">
                            <div class="mb-3">
                                <label class="form-label" for="reg-username">Username</label>
                                <input class="form-control" type="text" id="reg-username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="reg-email">Email</label>
                                <input class="form-control" type="email" id="reg-email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="reg-password">Password</label>
                                <input class="form-control" type="password" id="reg-password" name="password" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="button-silly button-popup mb-2">Register</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-body d-none" id="body-forgot">
                        <form action="/users/forgot" method="POST" class="">
                            <p>
                                Enter the email address associated with your account, and if it is in the system we'll
                                send
                                you an email with a link to reset your password.
                            </p>
                            <div class="mb-3">
                                <label class="form-label" for="forgot-email">Email</label>
                                <input class="form-control" type="text" id="forgot-email" name="email" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="button-silly button-popup mb-2">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function getAnchor() {
            var currentUrl = document.URL,
                urlParts = currentUrl.split('#');

            return (urlParts.length > 1) ? urlParts[1] : null;
        }
        const tabs = document.querySelector('#tabs');
        const tabLogin = document.querySelector('#tab-login');
        const tabRegister = document.querySelector('#tab-register');
        const tabForgot = document.querySelector('#tab-forgot');
        const bodyLogin = document.querySelector('#body-login');
        const bodyRegister = document.querySelector('#body-register');
        const bodyForgot = document.querySelector('#body-forgot');

        function showLogin() {
            tabLogin.querySelector('a').classList.add('active');
            tabRegister.querySelector('a').classList.remove('active');
            tabForgot.querySelector('a').classList.remove('active');
            bodyLogin.classList.remove('d-none');
            bodyRegister.classList.add('d-none');
            bodyForgot.classList.add('d-none');
        }

        function showRegister() {
            tabLogin.querySelector('a').classList.remove('active');
            tabRegister.querySelector('a').classList.add('active');
            tabForgot.querySelector('a').classList.remove('active');
            bodyLogin.classList.add('d-none');
            bodyRegister.classList.remove('d-none');
            bodyForgot.classList.add('d-none');
        }

        function showForgot() {
            tabLogin.querySelector('a').classList.remove('active');
            tabRegister.querySelector('a').classList.remove('active');
            tabForgot.querySelector('a').classList.add('active');
            bodyLogin.classList.add('d-none');
            bodyRegister.classList.add('d-none');
            bodyForgot.classList.remove('d-none');
        }

        tabLogin.addEventListener('click', (e) => {
            showLogin();
        });

        tabRegister.addEventListener('click', (e) => {
            showRegister();
        });

        tabForgot.addEventListener('click', (e) => {
            showForgot();
        });

        if (getAnchor() == "register") {
            showRegister();
        } else if (getAnchor() == "forgot") {
            showForgot();
        } else {
            showLogin();
        }
    </script>