<% layout('layouts/boilerplate')%>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-12">
                <div class="card shadow login-card">
                    <div class="card-header p-0">
                        <ul class="nav nav-tabs" id="tabs">
                            <li class="nav-item" id="tab-login">
                                <a href="/users/login#login" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item" id="tab-register">
                                <a href="/users/login#register" class="nav-link">Register</a>
                            </li>
                            <li class="nav-item" id="tab-forgot">
                                <a href="#forgot" class="nav-link active">Reset Password</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body" id="body-forgot">
                        <form action="/users/forgot/<%=resetToken%>?_method=PATCH" method="POST" class="">
                            <p>
                                Please enter the new password for your account.
                            </p>
                            <div class="mb-3">
                                <label class="form-label" for="newpassword">New Password</label>
                                <input class="form-control" type="password" id="newpassword" name="newpassword"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="confirmpassword">Confirm Password</label>
                                <input class="form-control" type="password" id="confirmpassword" name="confirmpassword"
                                    required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="button-silly button-popup mb-2">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>